.search{
    position: relative;
}

input{
    display: block;
    height: 20px;
    border-radius: 6px;
    padding-left: 40px;
}

svg {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 5px;
    left: 11px;
    opacity: 0.3;
  }
